table{
    width: 50%;
    border-collapse: collapse;
    border: 1px ;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}
.head1{
    background-color: rgba(70, 130, 180, 0.3); 
    backdrop-filter: blur(5px); 
    padding: 20px; 
    border-radius: 8px;
    text-align: center;
}
.ro{
    background-color: #ecbcbc;
   
}

.login-form {
  width: 380px;
  margin: 60px;
  padding: 25px;
  background: url(nature.jpg);
  background-size: 100% 100%;
  position: relative;
  left: 25%;
  color: beige;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


.login-form header {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inp {
  margin-bottom: 15px;
}

.inp label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.inp input[type="text"],
.inp input[type="email"],
.inp input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.inp input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0,123,255,0.4);
}

.radio-group {
  display: flex;
  gap: 15px;
  
}

.radio-group label {
  font-weight: normal;
}

.but {
  width: 100%;
  padding: 12px;
  background: #255836;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.but:hover {
  background: #09aa2c;
}

.portfolio-header {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}
.portfolio {
  width: 800px;
  margin: 100px auto;
  padding: 25px;
  background: url(portfolio-img.jpg);
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0.15, 0, 0, 0.15);
}
  
.portfolio p {
  font-size: 18px;
  margin-bottom: 10px;
}

#name, #role, #skill, #exp, #place {
  text-align: center;

}

.portfolio-content {
  display: flex;
  align-items: flex-start;   
  gap: 30px;
}

.details-section {
  text-align: left;
  margin-top: 60px;
}

.photo-section {
  margin-top: 0px;
  text-align: left;


}

.photo-section img {
  width: 200px;
  height: 195px;
  border-radius: 50%;   
  object-fit: cover;
  border: 4px solid #e0e0e0;

}

.portfolio button {
  padding: 10px 15px;
  background-color: #275ce0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.portfolio button:hover {
  background-color: #6b8fec;
}